
.menu-spacer {
    flex: 1 1 auto;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.8em 0;
}
  .login-size{
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden !important;
    height: 593px;
    min-height: inherit;
    max-height: inherit;
  }
  .body{
    height: 100%;
  }

.limiter{
  position: fixed;
  
}
.line1{
  z-index: 5;
    font-family: "Poppins";
    height: auto;
    width: auto;
    text-decoration: none;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: inherit;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 28px;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    color: rgb(0, 0, 0)
}

  
.line2 {
  z-index: 9;
  font-family: "Poppins";
  height: auto;
  width: auto;
  color: rgb(0, 0, 0);
  text-decoration: none;
  white-space: nowrap;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  text-align: inherit;
  line-height: 40px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 28px;
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
}
.line3{
  z-index: 10;
  font-family: "Poppins";
  height: auto;
  width: auto;
  color: rgb(0, 0, 0);
  text-decoration: none;
  white-space: nowrap;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  text-align: inherit;
  line-height: 60px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 40px;
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
}
.first:hover a{
  color: white;
}
.dropdown:hover>.dropdown-menu {
  display: block;
  margin-top: 0px !important;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
#orword{
  text-align: center;
  margin-top: -5%;
  font-weight: bolder;
  color: #3f51b5;padding-bottom: 1%;
}
@media only screen and (max-width: 984px) {
  #orword{    text-align: center;
 margin-top: -2%;
 font-weight: bolder;
 color: #3f51b5;
 padding-bottom: 1%;}
}
@media only screen and (max-width: 1115px) {
  #login100-moreDesription{  margin-left: -20px;}
}
.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.know-more{
  font-family: 'Poppins';
}

.signin{
  font-size: 20px;
  font-family: 'Poppins';
}
.signIn-Botoom-lable{
 color: #0056b3;
 cursor: pointer;
}
.form-check-input{
  font-family: 'poppins';
}
.any-question{
  font-family: 'Poppins';
}
.scroll{
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden !important;
 
  height: 90vh;
  min-height: inherit;
  max-height: inherit;
}

/* .limiter{
  position: fixed;
  
  background-image: url("/../assets/images/signinbackgound.png");

}
.menu-spacer {
  flex: 1 1 auto;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 0.8em 0;
} */