
<div class="scroll" >
  <mat-sidenav-container align="start" mode="side" opened class="hide-on-small-screens" fxFlexFill class="login-size"
    style="height: 593px; min-height: 100%; min-width: 100%">
    

    <mat-sidenav-content fxFlexFill style="overflow: hidden">
      
      <mat-sidenav-container fxFlexFill-2>
        
        <mat-sidenav #sidenav>
          <mat-nav-list>
          </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content fxFlexFill-2>
          <div class="limiter" style="margin-top: 10%;">
            <div class="wrap-login100" style="height: 80vh">
              <form class="mt-2 login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <span class="login100-form-title pb-3" style="font-family: 'poppins'">
                  Login
                </span>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" color="primary">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="username" />
                      <mat-icon matSuffix>email</mat-icon>

                      <mat-error *ngIf="loginForm.get('username').hasError('required')">
                        Email is required
                      </mat-error>
                      <mat-error *ngIf="loginForm.get('username').touched">
                        Please enter a valid email address
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Mobile</mat-label>
                      <input matInput formControlName="mobile" />
                      <mat-icon matSuffix>phone</mat-icon>
                      <mat-error *ngIf="
                        loginForm.get('mobile').hasError('required') ||
                        loginForm.get('mobile').touched
                      ">
                        Contact Number must be 10 digit!
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12col-lg-12 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width" appearance="outline" color="primary">
                      <mat-label>Password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
                      <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{
                          hide ? "visibility_off" : "visibility"
                          }}</mat-icon>
                      </a>
                      <mat-error *ngIf="loginForm.get('password').hasError('required')">
                        Password is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                

                <div class="container-login100-form-btn">
                  <button mat-flat-button color="primary" class="login100-form-btn" type="submit">
                    Login
                  </button>

                </div>
                <div *ngIf="loginForm.get('password').errors?.pattern && submitted"
                  class="alert alert-danger mt-3 mb-0">
                  Password should contain one uppercase alphabet, one digit, one
                  special character,min 8-character length
                </div>

               
              </form>
              <div
                  class="login100-more"
                  style="
                    background-image: url('assets/images/pages/signup.png');
                  "
                ></div>
             
            </div>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>