<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive mat-elevation-z8 mt-4">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-lg-12">
                    <ul class="header-buttons-left mt-n2">
                      <li class="dropdown">
                        <h2>
                          <strong>Transaction History</strong>
                        </h2>
                      </li>
                     
                    </ul>
                  </div>
                </div>
              </div>

              <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                <ng-container matColumnDef="ondatee">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-12'">Transaction Date
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                    [ngClass]="'tbl-col-width-per-12'">
                    {{ row?.ondate
                    }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="ammount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-12'">Transaction Ammount
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                    [ngClass]="'tbl-col-width-per-12'">
                    {{ row?.ammount }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="toperson">
                  <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tbl-col-width-per-12'">To Person
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                    [ngClass]="'tbl-col-width-per-12'">
                    {{ row?.toperson }}</mat-cell>
                </ng-container>
                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns" [style.cursor]="'pointer'" matRipple>
                </mat-row>
              </mat-table>
             
              <mat-paginator #paginator [pageSize]="100" [pageSizeOptions]="[100, 125, 150, 175, 200]"
                [showFirstLastButtons]="true">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</section>
