import { RouteInfo } from "./sidebar.metadata";

export const NEWUSERROUTES: RouteInfo[] = [
{
path: "transaction-history",
title: "Home",
moduleName: "transaction-history",
icon: "far fa-object-group",
class: "",
groupTitle: false,
submenu: [],
},
{
path: "products",
title: "Career Services",
moduleName: "#",
icon: "fas fa-boxes",
class: "",
groupTitle: false,
submenu: [],
},
{
path: "dheyaeventcalendar",
title: "My Calendar",
moduleName: "dheyaeventcalendar",
icon: "far fa-calendar-alt",
class: "",
groupTitle: false,
submenu: [],
},
{
path: "achievements",
title: "My Achievements",
moduleName: "#",
icon: "fas fa-trophy",
class: "",
groupTitle: false,
submenu: [],
},
// {
// path: "my-dream",
// title: "My Aspiration",
// moduleName: "3",
// icon: "fas fa-certificate",
// class: "",
// groupTitle: false,
// submenu: [],
// },
// {
// path: "career-plan",
// title: "My Career Plan",
// moduleName: "3",
// icon: "fas fa-cogs",
// class: "",
// groupTitle: false,
// submenu: [],
// },
{
path: "profile",
title: "My Profile",
moduleName: "profile",
icon: "fas fa-address-book",
class: "",
groupTitle: false,
submenu: [],
},
];

export const ROUTES: RouteInfo[] = [
// {
// path: "dashboard2",
// title: "Home",
// moduleName: "dashboard",
// icon: "far fa-object-group",
// class: "",
// groupTitle: false,
// submenu: [],
// },
{
path: "dclpurchase",
title: "Home",
moduleName: "dclpurchase",
icon: "far fa-object-group",
class: "",
groupTitle: false,
submenu: [],
},

{
path: "dheyaeventcalendar",
title: "My Calendar",
moduleName: "dheyaeventcalendar",
icon: "far fa-calendar-alt",
class: "",
groupTitle: false,
submenu: [],
},
{
path: "products",
title: "Career Services",
moduleName: "#",
icon: "fas fa-boxes",
class: "",
groupTitle: false,
submenu: [],
},
{
path: "achievements",
title: "My Achievements",
moduleName: "#",
icon: "fas fa-trophy",
class: "",
groupTitle: false,
submenu: [],
},
// {
// path: "rewards",
// title: "My Rewards",
// moduleName: "3",
// icon: "fas fa-award",
// class: "",
// groupTitle: false,
// submenu: [],
// },
// {
// path: "my-dream",
// title: "My Aspiration",
// moduleName: "3",
// icon: "fas fa-certificate",
// class: "",
// groupTitle: false,
// submenu: [],
// },
// {
// path: "career-plan",
// title: "My Career Plan",
// moduleName: "3",
// icon: "fas fa-cogs",
// class: "",
// groupTitle: false,
// submenu: [],
// },
// {
// path: 'dashboard3',
// title: 'Test Completed',
// moduleName: 'dashboard3',
// icon: 'fas fa-tachometer-alt',
// class: '',
// groupTitle: false,
// submenu: []
// },
// {
// path: 'dashboard4',
// title: 'Session Assigned',
// moduleName: 'dashboard4',
// icon: 'fas fa-tachometer-alt',
// class: '',
// groupTitle: false,
// submenu: []
// },

// {
// path: "cources",
// title: "Dheya Courses",
// moduleName: "cources",
// icon: "fas fa-chalkboard-teacher",
// class: "",
// groupTitle: false,
// submenu: [],
// },
// {
// path: "fileFolder",
// title: "My Documents",
// moduleName: "fileFolder",
// icon: "fas fa-folder",
// class: "",
// groupTitle: false,
// submenu: [],
// },
{
path: "profile",
title: "My Profile",
moduleName: "profile",
icon: "fas fa-address-book",
class: "",
groupTitle: false,
submenu: [],
},

// {
// path: 'dashboard2',
// title: 'New Candidate',
// moduleName: 'dashboard2',
// icon: 'fas fa-tachometer-alt',
// class: '',
// groupTitle: false,
// submenu: []
// },
];

export const SUPPERUSERROUTES: RouteInfo[] = [
{
path: "",
title: "-- Main",
moduleName: "",
icon: "",
class: "",
groupTitle: true,
submenu: [],
},

{
path: "students",
title: "Candidates",
moduleName: "students",
icon: "fas fa-graduation-cap",
class: "",
groupTitle: false,
submenu: [],
},

{
path: "dclcalanedar",
title: "Calendar",
moduleName: "dclcalanedar",
icon: "far fa-calendar-alt",
class: "",
groupTitle: false,
submenu: [],
},

{
path: "mentorList",
title: "Mentors",
moduleName: "mentorList",
icon: "fas fa-menorah",
class: "",
groupTitle: false,
submenu: [],
},

{
path: "graphics",
title: "Graphics",
moduleName: "graphics",
icon: "fas fa-chart-area",
class: "",
groupTitle: false,
submenu: [],
},
{
path: '',
title: 'Lead Management',
moduleName: 'leads',
icon: 'fas fa-file-alt',
class: 'menu-toggle',
groupTitle: false,
submenu: [
{
path: "leads",
title: "Lead Operation",
moduleName: "leads",
icon: "fas fa-code-branch",
class: "",
groupTitle: false,
submenu: [],
},
{
path: "lead-report",
title: "Lead Report",
moduleName: "lead-report",
icon: "fas fa-file-alt",
class: "",
groupTitle: false,
submenu: [],
},
{
path: "lead-chart",
title: "Lead Chart",
moduleName: " lead-chart",
icon: "fas fa-chart-pie",
class: "",
groupTitle: false,
submenu: [],
},
{
path: "lead-chart",
title: "Lead Upload",
moduleName: " lead-chart",
icon: "fas fa-chart-pie",
class: "",
groupTitle: false,
submenu: [],
}
]
},
{
path: "batch",
title: "Batch",
moduleName: "batch",
icon: "fas fa-users",
class: "",
groupTitle: false,
submenu: [],
},
{
path: "promocode",
title: "Promocode",
moduleName: "promocode",
icon: "fas fa-star-half-alt",
class: "",
groupTitle: false,
submenu: [],
},
{
path: "news",
title: "Dheya News",
moduleName: "news",
icon: "fa fa-newspaper",
class: "",
groupTitle: false,
submenu: [],
},
{
path: "webinar",
title: "Webinar",
moduleName: "webinar",
icon: "fas fa-users-cog",
class: "",
groupTitle: false,
submenu: [],
},
{
path: '',
title: 'Daily Messages',
moduleName: 'blog',
icon: 'fas fa-blog',
class: 'menu-toggle',
groupTitle: false,
submenu: [
{
path: "blog",
title: "Messages",
moduleName: "blog",
icon: "fas fa-blog",
class: "",
groupTitle: false,
submenu: [],
},

{
path: "blog-topic",
title: "Messages-Topic",
moduleName: "blogTopic",
icon: "fab fa-microblog",
class: "",
groupTitle: false,
submenu: [],
},
]
},

{
path: '',
title: 'Scheduling',
moduleName: 'scheduling-dashboard',
icon: 'fas fa-clock',
class: 'menu-toggle',
groupTitle: false,
submenu: [
{
path: "scheduling-dashboard",
title: "Pending",
moduleName: "SchedulingDashboard",
icon: "fas fa-business-time",
class: "",
groupTitle: false,
submenu: [],
},
{
path: "allSessionAssignedCandidateList",
title: "History",
moduleName: "allSessionAssignedCandidateList",
icon: "fas fa-clock",
class: "",
groupTitle: false,
submenu: [],
},
]
},
{
path: "notification",
title: "Notification",
moduleName: "notification",
icon: "fas fa-bell",
class: "",
groupTitle: false,
submenu: [],
},
{
path: "workbook",
title: "Workbook",
moduleName: "workbook",
icon: "far fa-object-group",
class: "",
groupTitle: false,
submenu: [],
},
{
path: "cources",
title: "Dheya Courses",
moduleName: "cources",
icon: "fas fa-chalkboard-teacher",
class: "",
groupTitle: false,
submenu: [],
},
];

// dcl Menu // Stage Id 21 to 31
export const SUPPERUSERMENU: RouteInfo[] = [
{
path: "leads",
title: "Leads",
moduleName: "leads",
icon: "fas fa-code-branch",
class: "",
groupTitle: false,
submenu: [],
},
]
export const SUPPERUSERoPARATORROUTES: RouteInfo[] = [
{
path: "leads",
title: "Leads",
moduleName: "leads",
icon: "fas fa-code-branch",
class: "",
groupTitle: false,
submenu: [],
},
]

// {
// path: 'contacts',
// title: 'AGYWs List',
// moduleName: 'contacts',
// icon: 'far fa-address-card',
// class: '',
// groupTitle: false,
// submenu: []
// },

// {
// path: 'advance-table',
// title: 'User Table',
// moduleName: 'advance-table',
// icon: 'fas fa-users',
// class: '',
// groupTitle: false,
// submenu: []
// },
// {
// path: '',
// title: 'Icons',
// moduleName: 'icons',
// icon: 'fas fa-paw',
// class: 'menu-toggle',
// groupTitle: false,
// submenu: [
// {
// path: '/icons/material',
// title: 'Material Icons',
// moduleName: 'icons',
// icon: '',
// class: 'ml-menu',
// groupTitle: false,
// submenu: []
// },
// {
// path: '/icons/font-awesome',
// title: 'Font Awesome',
// moduleName: 'icons',
// icon: '',
// class: 'ml-menu',
// groupTitle: false,
// submenu: []
// }
// ]
// },

// {
// path: '',
// title: 'Authentication',
// moduleName: 'authentication',
// icon: 'fas fa-id-card',
// class: 'menu-toggle',
// groupTitle: false,
// submenu: [
// {
// path: '/authentication/signin',
// title: 'Sign In',
// moduleName: 'authentication',
// icon: '',
// class: 'ml-menu',
// groupTitle: false,
// submenu: []
// },
// {
// path: '/authentication/signup',
// title: 'Sign Up',
// moduleName: 'authentication',
// icon: '',
// class: 'ml-menu',
// groupTitle: false,
// submenu: []
// },
// {
// path: '/authentication/forgot-password',
// title: 'Forgot Password',
// moduleName: 'authentication',
// icon: '',
// class: 'ml-menu',
// groupTitle: false,
// submenu: []
// },
// {
// path: '/authentication/locked',
// title: 'Locked',
// moduleName: 'authentication',
// icon: '',
// class: 'ml-menu',
// groupTitle: false,
// submenu: []
// },
// {
// path: '/authentication/page404',
// title: '404 - Not Found',
// moduleName: 'authentication',
// icon: '',
// class: 'ml-menu',
// groupTitle: false,
// submenu: []
// },
// {
// path: '/authentication/page500',
// title: '500 - Server Error',
// moduleName: 'authentication',
// icon: '',
// class: 'ml-menu',
// groupTitle: false,
// submenu: []
// }
// ]
// },


<!-- ///////////////////////////////////////////////////////////////////// -->
<!-- time line page -->
<section class="content">
  <div class="container-fluid">
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-2">face</mat-icon>
                Course Details
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <img class="mt-3" style="border-radius: 5px;"
                  src="https://www.dheya.com/wp-content/uploads/2021/07/Dheya-Work-Labs.png" alt="">
                <div class="project_widget">
                  <!-- <div class="header lable"> -->
                  <!-- <div class="row mt-3" style="margin: 1px">
                    <div class="col-sm-9 lable">
                      <h1>
                        <strong>{{ CourseDetails_data?.CourseName }}</strong>
                      </h1>
                      &nbsp;
                    </div> -->
                  <!-- <div class="col-sm-3">
                      <div
                        class="row mt-2"
                        *ngIf="CourseDetails_data.CourseRating == 1"
                      >
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star_border</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star_border</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star_border</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star_border</i>
                        </div>
                        <div class="col-sm-2"></div>
                      </div>

                      <div
                        class="row mt-2"
                        *ngIf="CourseDetails_data.CourseRating == 2"
                      >
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star_border</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star_border</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star_border</i>
                        </div>
                        <div class="col-sm-2"></div>
                      </div>

                      <div
                        class="row mt-2"
                        *ngIf="CourseDetails_data.CourseRating == 3"
                      >
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star_border</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star_border</i>
                        </div>
                        <div class="col-sm-2"></div>
                      </div>

                      <div
                        class="row mt-2"
                        *ngIf="CourseDetails_data.CourseRating == 4"
                      >
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star_border</i>
                        </div>
                        <div class="col-sm-2"></div>
                      </div>
                      <div
                        class="row mt-2"
                        *ngIf="CourseDetails_data.CourseRating == 5"
                      >
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star</i>
                        </div>
                        <div class="col-sm-2">
                          <i class="material-icons col-green">star</i>
                        </div>
                        <div class="col-sm-2"></div>
                      </div>
                    </div> -->
                  <!-- </div> -->
                  <!-- <div class="row" style="margin: 1px">
                    <div class="mt-3">
                      - {{ CourseDetails_data?.CourseCode }}
                    </div>
                  </div> -->
                  <!-- </div> -->
                  <div class="body">
                    <div class="row">
                      <div class="col-sm-12">
                        <!-- <div class="row" style="padding: 13px">
                          <h2>{{ CourseDetails_data?.InstructorName }}</h2>
                        </div> -->
                        <!-- <div class="container-fluid">
                          <div class="row">
                            <div class="col-sm-2">
                              <strong
                              >Subcriber(s)
                              <i class="fas fa-users mt-1"></i> &nbsp;
                              {{ CourseDetails_data?.CounterBaseValue }}
                            </strong>  
                            </div>
                            <div class="col-sm-2">
                              <strong>
                                Video(s)<br/> <i class="fas fa-video"></i> &nbsp;
                                {{ CourseDetails_data.VideoCount }}
                              </strong>
                            </div>
                            <div class="col-sm-2">
                              <strong
                              >Note(s)<br/> <i class="fas fa-file"></i> &nbsp;
                              {{ CourseDetails_data?.DocumentCount }}</strong
                            >
                           </div>
                          
                            <div class="col-sm-2">
                              <s>
                                <strong>
                                  Price
                                  {{
                                    CourseDetails_data?.CourseScratch| currency: "INR":"symbol":"2."
                                  }}
                                </strong></s
                              >  
                            </div>
                            <div class="col-sm-2">
                              <strong 
                              >Offer
                              <b>
                                {{
                                  CourseDetails_data?.CoursePrice| currency: "INR":"symbol":"2."
                                }}</b
                              >
                            </strong>
                            </div>
                            <div class="col-sm-2"></div>
                          </div>
                        </div> -->
                        <hr class="mb-3 mt-1" />
                        <p class="m-t-30 course_descr">
                          {{ CourseDetails_data?.CourseDescription }}
                        </p>
                        <br />
                        <button class="mr-3 mt-n2" mat-raised-button color="primary" (click)="openPointModal()">
                          Refer a friend
                        </button>
                      </div>

                      <!-- <div class="col-sm-3">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="course-img">
                              <img
                                *ngIf="CourseDetails_data?.CourseImage"
                                src="{{ courseCurriculumImgPath }}{{
                                  CourseDetails_data?.CourseImage
                                }}"
                                alt="course Image "
                              />
                              <img
                                *ngIf="CourseDetails_data?.CourseImage"
                                src="assets/images/posts/dotnet_course.jpg"
                                alt=""
                                style="height: 230px"
                              />
                            </div>
                            <br />
                            <button class="btn btn"
                              (click)="openPaymentGatewayModal(CourseDetails_data)"
                              mat-stroked-button
                              color="primary"
                              class="buy"
                            >
                              Buy
                            </button>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>

            <!--  Course Curriculum Array List-->
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-2">settings</mat-icon>
                Course Curriculum
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12 ng-star-inserted">
                <div class="project_widget">
                  <div class="card">
                    <div class="row mt-3">
                      <div class="col-sm-12 lable">
                        <h1>
                          <strong>{{ CourseDetails_data?.CourseName }} &nbsp; &nbsp; &nbsp; - {{
                            CourseDetails_data?.BatchName }}</strong>
                        </h1>
                        <!-- <button class="btn btn-primary" (click)="openWorkBookModal()"> WorkBook</button> -->
                      </div>
                    </div>

                    <div class="body">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-10">
                            <ul class="left-timeline"
                              *ngFor="let curriculumDetails of CourseDetails_data?.CourseCurriculum">
                              <li>
                                <time class="left-time" datetime="2017-10-22T12:13"><span>12:13 PM</span>
                                  <span>Two weeks ago</span></time>
                                <div class="left-icon3"></div>
                                <div class="left-label">
                                  <h2>
                                    <a href="#" onClick="return false;">{{curriculumDetails?.CurriculumName}}</a>
                                    <!-- <div  *ngIf="curriculumDetails?.CurriculumType == 5"  style="float: right;">
                                      <mat-spinner-button [options]="spinnerOptionsButton"  (click)="openWorkBookModal(curriculumDetails.CirriculumnURL)">
                                      </mat-spinner-button>
                                    </div> -->
                                  </h2>
                                  <blockquote>
                                    <p class="blockquote blockquote-primary">
                                      {{curriculumDetails?.CurriculumDescription}}
                                      <br />
                                    </p>
                                  </blockquote>
                                  <div class="row clearfix">
                                    <div class="col-lg-12">
                                      <div class="map m-t-10">
                                        <div *ngIf="
                                            curriculumDetails.CurriculumType ==
                                            1
                                          ">
                                          <video muted id="video1" src="{{
                                              curriculumDetails.CirriculumnURL
                                            }}" width="536" height="250" class="img" controls></video>
                                        </div>

                                        <div *ngIf="
                                            curriculumDetails.CurriculumType ==
                                            4
                                          ">
                                          <iframe width="100%" height="432" [src]="youTubeUrl"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                        </div>
                                        <div *ngIf="
                                            curriculumDetails.CurriculumType ==
                                            2
                                          ">
                                          <img src="{{ courseCurriculumImgPath }}{{
                                              curriculumDetails.CurriculumThumbnail
                                            }}" alt="" style="
                                              border-radius: 10px;
                                              width: 100%;
                                            " />
                                        </div>
                                        <div *ngIf="
                                            curriculumDetails.CurriculumType ==
                                            3
                                          ">
                                          <img (click)="
                                              openPdfModal(curriculumDetails)
                                            " src="{{ courseCurriculumImgPath }}{{
                                              curriculumDetails.CurriculumThumbnail
                                            }}" alt="" style="
                                              border-radius: 10px;
                                              width: 100%;
                                              cursor: pointer;
                                            " />
                                        </div>
                                        <div *ngIf="
                                          curriculumDetails.CurriculumType ==
                                          6
                                        ">
                                          <iframe width="100%" height="432" [src]="youTubeUrl"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <!-- <time *ngIf="curriculumDetails?.CurriculumType != 3 && curriculumDetails?.CurriculumType != 2"
                                  class="left-time"
                                  datetime="2017-11-04T18:30"
                                  ><span class="hidden">25/05/2021</span>
                                  <span class="large">Now</span>
                                </time>
                                <div class="left-label" *ngIf="curriculumDetails?.CurriculumType != 3 && curriculumDetails?.CurriculumType != 2">
                                  <h2>
                                    <a href="#" onClick="return false;">{{
                                      curriculumDetails?.CurriculumName
                                    }}</a>
                                  </h2>
                                  <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12">
                                      <a  href="#" onClick="return false;">
                                        <img
                                          src="{{ courseCurriculumImgPath }}{{
                                            curriculumDetails.CurriculumThumbnail
                                          }}"
                                          alt=""
                                          class="img-fluid img-thumbnail m-t-30"
                                      /></a>
                                    </div>
                                  </div>
                                </div> -->
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <img src="{{liveImg}}" class="live-icon" />&nbsp;
                <!-- <mat-icon class="example-tab-icon mr-2">settings</mat-icon> -->
                Join in Live Session

              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12 ng-star-inserted">
                <div class="project_widget">
                  <div class="card">
                    <div class="row mt-3">
                      <div class="col-md-3"></div>
                      <div class="col-sm-6">
                        <h1>
                          <strong>Download and Install Microsoft Teams.</strong>
                        </h1>
                        <br />
                        <div class="row">
                          <div class="col-sm-4"></div>
                          <div class="col-sm-4">
                            <a href="{{microsoftTeamLink}}" target="_blank">
                              <i class="fas fa-download" style="font-size: 100px" matTooltip="Click Here"
                                matTooltipPosition="right"></i></a>
                          </div>
                          <div class="col-sm-4"></div>
                        </div>
                      </div>
                      <div class="col-md-3"></div>
                    </div>
                    <div class="body">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-3"></div>
                          <div class="col-md-6">
                            <h2>
                              <strong>
                                After install create your MS Team account or
                                login using existing account.</strong>
                            </h2>
                            <h2>
                              <strong>
                                To join live, you will have a "Join Now" button on event calendar and dashboard. By
                                clicking that button it will launch the MS Team Live session.
                              </strong>
                            </h2>
                            <button mat-stroked-button color="primary" class="buy">
                              <a href="{{microsoftTeamLink}}" target="_blank">
                                Join The Live Session</a>
                            </button>
                          </div>
                          <div class="col-md-3"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Pdf Modal -->
<div class="backdrop" [ngStyle]="{ display: displayPdfModal }"></div>
<div class="modal" id="customers" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
  [ngStyle]="{ display: displayPdfModal }">
  <div class="modal-dialog modal-xl" role="document">
    <div *ngIf="displayPdfModal == 'block'" class="modal-content">
      <div class="modal-header header">
        <h2>{{ CurriculumName }}</h2>
        <button type="button" (click)="closePdfModal()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="close-btn">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 650px">
        <div *ngIf="CurriculumPdfThumbnail">
          <!-- <pdf-viewer
            src="{{ courseCurriculumPdfPath }}{{ CurriculumPdfThumbnail }}"
            [original-size]="false"
          ></pdf-viewer> -->
          <pdf-viewer src="https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf" [original-size]="false">
          </pdf-viewer>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- course payment GAteWay Modal -->
<div class="backdrop" [ngStyle]="{ display: displayPaymentGatewayModal }"></div>
<div class="modal" id="customers" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
  [ngStyle]="{ display: displayPaymentGatewayModal }">
  <div class="modal-dialog modal-lg" role="document">
    <div *ngIf="displayPaymentGatewayModal == 'block'" class="modal-content">
      <div class="modal-header header">
        <h4>{{tempCourseDetailsObj?.CourseName}}</h4>&nbsp;&nbsp;&nbsp;&nbsp;
        <div>
          <s>
            {{
            tempCourseDetailsObj?.CourseScratch
            | currency: "INR":"symbol":"2."
            }}
          </s> &nbsp; &nbsp;
        </div>
        <div>
          <b> Offer Price</b> &nbsp;
          <!-- <i class="fas fa-rupee-sign"></i> -->
          <b>{{
            tempCourseDetailsObj?.CoursePrice
            | currency: "INR":"symbol":"2."
            }}</b>
        </div>

        <button type="button" (click)="closePaymentGateWayModal()" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true" class="close-btn">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <p class="text-warning mt-3">
              <label>Do you have a <b>Promo Code</b> </label>
            </p>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Promo Code</mat-label>
              <input matInput type="text" #promoCode>
              <mat-icon matSuffix>face</mat-icon>
            </mat-form-field>
          </div>
          <div class="col">
            <button class="mt-2" type="button" mat-raised-button color="primary" #promoCode
              (click)="checkCoursePromoCode()">check my promo code offers </button>
          </div>
        </div>
        <div class="row d-flex">
          <div *ngIf="courseOfferAmount">
            <h4>Do You Have a Offer Prise <b>{{courseOfferAmount | currency: "INR":"symbol":"2."}}</b></h4>
          </div>
        </div>
        <hr class="m-b-10 m-t-0" />
        <div class="row">
          <div class="col-sm-4">
            <button type="button" mat-raised-button color="primary"
              (click)="goToCoursePayment(tempCourseDetailsObj)">Successful</button>
            <!-- <button type="button" class="btn btn-primary pull-left"  >Successful</button> -->
          </div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <button type="button" mat-raised-button color="primary" data-dismiss="modal"
              style="float: right;">Failed</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- refer a friend -->
<div class="backdrop" [ngStyle]="{ display: displayPointModal }"></div>
<div class="modal" id="customers" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
  [ngStyle]="{ display: displayPointModal }">
  <div class="modal-dialog" role="document">
    <div *ngIf="displayPointModal == 'block'" class="modal-content">
      <div class="modal-header header">
        <h1>Refer a friend for course</h1>
        <button type="button" (click)="closePointModal()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="close-btn">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addCusForm" (ngSubmit)="onSubmitClick()">
          <div class="text-inside">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="First Name" formControlName="firstname" required />
              <mat-error *ngIf="addCusForm.get('firstname').hasError('required')">
                First Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="text-inside">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" formControlName="lastname" required />
              <mat-error *ngIf="addCusForm.get('lastname').hasError('required')">
                Last Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="text-inside">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email address" formControlName="email" required />
              <mat-error *ngIf="addCusForm.get('email').hasError('required')">
                Email is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="text-inside">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Mobile" formControlName="mobile" required />
              <mat-error *ngIf="addCusForm.get('mobile').hasError('required')">
                Mobile is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="btn-sec">
            <button class="mr-3" mat-raised-button color="primary">
              Send Request
            </button>
            <button type="button" mat-button (click)="closePointModal()">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>